@import 'src/styles/vars';
@import "src/styles/mixins/media";


.ecosystem-card {

  width: 100%;
  //box-shadow: 0px 12px 40px rgba(84, 84, 212, 0.1);
  border-radius: 30px;
  //background-color: $white;
  background-color: transparent;

  &__title {

    font-size: 22px;
    line-height: 33px;
  }

  &__content {
    margin-top: 10px;
    font-size: 15px;
    line-height: 22px;

    color: #19191B;

    opacity: 0.5;
  }

  &-top {
    max-width: 624px;
    height: 269px;
    margin: 0 auto;
    padding: 44px 67px 89px 82px;
    background: url("../../../../assets/img/ecosystem-top-bg.svg") center no-repeat;
  }

  &-left {
    max-width: 410px;
    height: 309px;
    padding: 44px 90px 48px 70px;
    text-align: left;
    background: url("../../../../assets/img/ecosystem-left-bg.svg") center no-repeat;
  }

  &-right {
    max-width: 410px;
    height: 309px;
    padding: 44px 70px 48px 90px;
    text-align: right;
    background: url("../../../../assets/img/ecosystem-right-bg.svg") center no-repeat;
  }

  &-bottom {
    max-width: 624px;
    height: 249px;
    margin: -21px auto 0;
    padding: 44px 67px 45px 82px;
    background: url("../../../../assets/img/ecosystem-bottom-bg.svg") center no-repeat;
    @include b('mobile') {
      margin: 0 auto;
    }
  }

  @include b('mobile') {
    padding: 20px;
    text-align: unset;
    max-width: 350px;
    height: 200px;
    background: #FFFFFF;
    margin-bottom: 30px;
    box-shadow: 0px 12px 40px rgba(84, 84, 212, 0.1);
    &-bottom {
      margin: 0 auto;
    }
  }
}