$gray-l:#D9DBE1;
$gray:#8C8C8CFF;
$gray-d:#696871;
$gray-xd:#5D5D5D;
$black-l:#19191B;
$black:#000000;
$orange:#FF7143;
$blue:#5454D4;
$white:#fff;
// Mobile first
$mediaWidthLaptop: 1440px;
$mediaWidthDesktop: 1024px;
$mediaWidthTablet: 768px;
$mediaWidthMobile: 550px;